body{
    background-color: #291f40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.todo{
    background-color: #ddcffc;
    padding: 5vmin;
    border-radius: 20px;
}